@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.2fr 1fr 1fr 2fr 1fr 1fr 0.4fr; 
      grid-template-areas: 
      "header header header header"
      "biography biography picture picture"
      "art art art description"
      "data data data year"
      "contact list list year"
      "contact location location year"
      "footer footer footer footer";
      column-gap: 15px;
      row-gap: 10px;
      background-color: #07c2a3;
      padding: 10px;
      width: auto;
      
    }
    
.grid-item {
      background-color: rgba(247, 130, 237, 0.8);
      border: 10px dotted rgba(193, 233, 118, 0.8);
      border-radius: 3%;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      
    }

#navBar {
  grid-area: header;
}

.biography {
  grid-area: biography;
}

.picture {
  grid-area: picture;
}

.footer {
  grid-area: footer;
}
.data {
  grid-area: data;
}
.year {
  grid-area: year;
}
.contact {
  grid-area: contact;
}

.location {
  grid-area: location;
}
.art {
  grid-area: art;
}
.description {
  grid-area: description;
}
.list {
  grid-area: list;
}
    .titles {
      font-family: 'Pacifico', cursive;
      font-size: 4em;
    }

    .responsive-img {
      max-width: 100%;
      max-height: 100%;
    }